
<div class="container">
  <div class="list">
    <% @locations.each do |locations| %>
      <div class="item js-marker" data-lat="<%= locations.latitude %>" data-lng=" <%= locations.longitude %>" data-title = "<%= locations.title %>">
        <img src="https://via.placeholder.com/420x260" class="imge" alt="">
        <h4><%= locations.title %></h4>
        <a href="#">lien</a>
<%= locations.latitude %>
<%= locations.longitude %> <br> </div>
    <% end %>
  </div>
</div>

  <div class="map" id="map">
  </div>


<%= render 'homejs' %>